<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
   <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  
  <div>
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password, :size => 40 %>
  </div>
  
  <div>
    <%= f.label :password_confirmation, "Confirm" %><br />
    <%= f.password_field :password_confirmation, :size => 40 %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
