<%= form_for @order do |f| %>
	<% if @order.errors.any? %>
		<div id="error_explanation">
			<h2><%= t('errors.template.header', :count=>@order.errors.size, :model=>t('activerecord.models.order')).html_safe %></h2>
			<p><%= t('errors.template.body') %></p>
			<ul>
			<% @order.errors.full_messages.each do |msg| %>
				<li><%= raw msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	
	
	
	<h3>Order#: <%= @order.id %> by <%= link_to @customer.name, @customer %>, customer id is : <%= @customer.id %>.</h3>
	
	<div>
		<%= f.label :name, t('.name')+":" %>
		<%= f.text_field :name, :size => 40 %>
	</div>
	
	<div>
		<%= f.label :address, t('.address').html_safe+":" %>
		<%= f.text_area :address, :rows => 3, :cols => 40 %>
	</div>
	
	<div>
		<%= f.label :email, t('.e-mail')+":" %>
		<%= f.email_field :email, :size => 40 %>
	</div>
	
	<div>
		<%= f.label :pay_type, t('.pay_type')+":" %>
		<%=
			f.select :pay_type,
						pay_types,
						:prompt => t('.pay_prompt').html_safe
		%>
	</div>
	
	<div>
		<%= f.label :shipped %>
		<%= f.check_box :shipped %>
	</div>
	
	<div>
		<%= f.label :ship_date %>
		<%= f.date_select :ship_date, :include_blank => true, :use_month_numbers => true %>
	</div>
	
	<div>
		<%= f.label :express_company %>
		<%= f.text_field :express_company, :size => 40 %>
	</div>
	
	<div>
		<%= f.label :express_number %>
		<%= f.text_field :express_number, :size => 40 %>
	</div>
	<% if flash[:true_if_editing_false_if_shipping] %>
		<%= f.submit t('.submit'), :disable_with => "Updating..." %>
	<% else %>
		<%= f.submit "Ship & Next", :disable_with => "Shipping..." %>
	<% end %>
<% end %>