<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<% unless @products.empty? %>
	<div id="product_list">
		<h1>Listing products of Category : <%= link_to "All", products_path %><% unless @isAll %> >> <%=link_to params[:category], products_path(:category => params[:category]) %><% end %></h1>

		<table>
		<% @products.each do |product| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>" >
				<td>
					<%= image_tag(product.image_url, :class => 'list_image') %>
				</td>
				
				<td class="list_description">
					<dl>
						<dt><%= product.title %></dt>
						<dd>Category : <%= link_to product.category, products_path(:category => product.category) %></dd>
						<dd>Description : <%= truncate(strip_tags(product.description),
								:length => 80) %></dd>
					</dl>
				</td>
					
				<td class ="list_actions">
					<%= link_to 'Show', product %><br />
					<%= link_to 'Edit', edit_product_path(product) %><br />
					<%= link_to 'Destroy', product,
									:confirm => 'Are you sure?',
									:method => :delete %>
				</td>
			</tr>
		<% end %>
		</table>
	</div>
<% else %>
	<h2>No products added yet.</h2>
<% end %>
	

	<br />

	<%= link_to 'New Product', new_product_path %>
