<!-- <p id="notice"><%= notice %></p>-->
 <table>
 <tr>
 	<td>
 <%= image_tag(@product.image_url) %>
 </td>

<td><p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>
<p>
  <b>Price:</b>
  <%= @product.price %>
</p>
<%= button_to 'Add to cart', line_items_path(:product_id => @product),
			:remote => true %>
<p id =addComment>
	<%= button_to 'Add Comment', new_product_comment_url(@product),:method=>'get'%>
</p>
</td>
</tr>
</table>
<% if @comments %>
<%= render @comments%>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
