<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class ="hot-widget">
	<p>HOT</p>
<table>
	<% if @hotProduct%>
	<%for hotOne in @hotProducts%>
		<tr class="hotline">
		    <td class="bookImage">
		    	<%= image_tag hotOne.image_url%>
		    </td>
		    <td class="bookDetail">
		    	<dt><%=hotOne.title %></dt>
		    	<dt><%=number_to_currency(hotOne.price)%></dt>
		    </td>
		</tr>
	<%end%>
	<%end %>
</table>
</div>
<h1><%= t('.title_html')%></h1>
<% @products.each do |product| %>
	<div class="entry">
	   <%= link_to image_tag(product.image_url), show_product_url(:product_id=>product) %>
	   <h3><%= link_to product.title ,show_product_url(:product_id=>product)%></h3>
	   <%=sanitize product.description %>
	   <div class="price_line">
		<span class="price"><%= number_to_currency(product.price) %></span>
		<%= button_to t('.add_html'), line_items_path(:product_id => product),
			:remote => true %>
	   </div>
	</div>
<% end %>

  <div class="clearboth"></div>